
.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background-color: #dfcece;
    padding: 15px;
    border: 1px solid #dfcece;
    border-radius: 18px;
    margin-bottom: 2rem;
}

.gallery-field-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery-field {
    position: relative;
    width: 80%;
    height: 250px;
    margin: auto;
    border: 1px solid #212529;
    border-radius: 18px;
    padding: 2rem;
    background-color: #e8dfdf;
}

.gallery-field_form {
    width: 45%;
    margin-right: 0.5rem;
    padding: 1rem;
}

.title-wrapper {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.overlapped {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    width: 100%;
}

.overlap {
    position: absolute;
    top: 25%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 100%;
    pointer-events: none;
    font-size: 2.5rem;
}

  /* стили для label */
.title {
    width: 100%;
    font-weight: 700;
    color:rgb(53, 53, 54);
    text-align: center;
    padding: 10px;
}

  /* стили для input */
.gallery-field__input {
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.gallery-field__input::placeholder {
    font-size: 1rem;
    color: #212529;
    opacity: 0.4;
}

.gallery-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.sr-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.images-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    background-color: rgb(236, 222, 222);
}

@media (max-width: 768px) {
    .gallery-field-wrapper {
        flex-wrap: wrap;
    }
    
    .gallery-field {
        min-height: 150px;
    }
    .gallery-field_form {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .overlap {
        font-size: 1.5rem;
    }
}
